
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @using (Html.BeginForm("Test", "ModelBinder"))
    {
        <div>
            <span>總計：</span>
            @Html.TextBox("amount")
        </div>
        <input type="submit" value="送出" />
    }
</div>

