
@{
    ViewBag.Title = "ShowImages";
}

<h2>ShowImages</h2>
<img src="/Filters/GetImage?image=samurai_7-001" />
<img src="/Filters/GetImage?image=samurai_7-002" />
<img src="/Filters/GetImage?image=samurai_7-004" />
