
@{
    ViewBag.Title = "ShowVideo";
}

<h2>ShowVideo</h2>

<video controls="controls">
    @*<source src="~/Videos/001.mp4" type="video/mp4" />*@
    <source src="@Url.Action("DemoVideo","Filters")" type="video/mp4"/>
</video>