
@{
    ViewBag.Title = "StreamImages";
}

<h2>StreamImages</h2>
<img src="/Filters/DemoFileStream?image=samurai_7-001" />
<img src="/Filters/DemoFileStream?image=samurai_7-002" />
<img src="/Filters/DemoFileStream?image=samurai_7-004" />

