@model WebApplication_美學ch06.Models.ViewModel.PersonViewModel

@{
    ViewBag.Title = "ShowViewModelModelBinding";
}

<h2>ShowViewModelModelBinding</h2>

<div>
    Man <br />
    name: @Model.Man.Name
    <br />
    age: @Model.Man.Age
</div>
<div>
    Woman <br />
    name: @Model.Woman.Name
    <br />
    age: @Model.Woman.Age
</div>
